body{
    font-family: 'Alexandria', sans-serif;

}
.bg-primary {
    background: #811538 !important;
    color: #fff;
}
.bg-secondary {
    background: #811538 !important;
    color: #fff;
}
#header{
    clip-path: polygon(0 0,100% 0%,100% 100%,0 80%);
    border-bottom: solid 20px #5b0d25;
}
#Header-background{
    background-image: url(./images/pattern.png);
}
#logo-header{
    position: absolute;
    z-index: 999;
    left: 100px;
    top: 60px;
}
#logo-img{
    height: 300px;
    -webkit-filter: drop-shadow(5px 5px 30px #222);
     filter: drop-shadow(5px 5px 30px #222);
}
#top-header{
    direction:rtl;
    font-size: 50px;
    margin-right: 100px;
    color:#fff;
}
